*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul{
    list-style: none;
}

#container {
    margin: 0 auto;
    width: 1200px;
}

/*헤더*/
header{
    width: 100%;
    height: 100px;
    background-color: #07c;
}

/*로고*/
#logo {
    float: left;
    width: 250px;
    height: 100px;
    line-height: 100px;
    padding-left: 20px;
    
}
#logo h1 {
    font-weight: 700;
    font-size: 40px;
    color: #fff;
    text-shadow: 0 -1px 0 #222;
}

/*네비게이션*/
nav {
    float: right;
    width: 900px;
    height: 100px;
    padding-top: 40px;
}

#topMenu{
    height: 6-px;
}

#topMenu > li {
    float: left;
}

#topMenu > li > a {
    display: block;
    color: #fff;
    font-weight: 600;
    text-shadow: 0 1px #07c;
    padding: 20px 60px;
}

#topMenu > li > a:hover {
    color: #000;
    text-shadow: 0 -1px #07c;
}

/*이미지슬라이드쇼영역*/
#slideShow {
    clear: both;
    width: 100%;
    height: 300px;
    background-color: mediumpurple;
    overflow: hidden;
}

/*콘텐츠영역*/
#contents{
    width: 100%;
    height: 300px;
}

/*탭메뉴영역*/
#tabMenu{
    float: left;
    width: 600px;
    height: 100%;
    background-color: mintcream;
}

/*퀵링크영역*/
#links{
    float: right;
    width: 600px;
    height: 100%;
    background-color: greenyellow;
}

/*푸터영역*/
footer {
    width: 100%;
    height: 100px;
    background-color: grey;
}